<% provide(:contact_active, 'active') %>
<h1>Contact Page</h1></br>

<p>
555-555-5555</br>
100 Narwhal Ct.</br>
8-bit, DIY 84364</br>
</p>
<p> flannel bushwick pop-up fingerstache mustache cold-pressed microdosing. sHella shaman aesthetic woke semiotics waistcoat quinoa lo-fi iceland ugh. Gentrify truffaut asymmetrical thundercats godard direct trade fingerstache wayfarers health goth migas. Neutra narwhal seitan single-origin coffee craft beer yuccie pabst typewriter tumeric actually.
</p>









<%= link_to 'Send me a message', 'messages/new' %>
